body {
  margin: 0;
  font-family: "EB Garamond", serif;
  color: #222;
  background-color: #ffffff;
  line-height: 1.7;
}

nav {
  font-family: "Inter", sans-serif;
  padding: 30px 60px;
}

nav a {
  margin-right: 25px;
  text-decoration: none;
  color: #444;
  font-weight: 400;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 720px;
  padding: 40px 60px;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 1.3em;
  margin-top: 2em;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 0.95em;
  color: #555;
  margin-bottom: 2em;
}

.contact {
  margin-top: 2.5em;
  font-size: 0.95em;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 0.5em;
}

